link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap-theme.min.css')
script(src='/vendor/bootstrap/js/bootstrap.min.js')
