// Bower Components

//- jQuery
script(src='/bower_components/jquery/jquery.min.js')
//- jQuery Form Plugin
script(src='/vendor/jquery.form.js')

//- Bootstrap
link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
//-link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

//- Socket.io
script(src="/socket.io/socket.io.js")
