extends layout

block header
    include leaflet.jade

block content
    div.full-container.map-container
        div#map
        div.full-container
            div.map-hud.col-xs-12.col-sm-6.col-md-6.col-lg-4
                div.map-controls
                    div.row
                        div.col-xs-3.col-sm-1.col-md-1
                            i.glyphicon.glyphicon-search
                        div.hidden-xs.col-xs-4.col-sm-8.col-md-8
                            input(type="text", placeholder="Search").form-control.search
                        div.col-xs-3.col-sm-1.col-md-1
                            i.glyphicon.glyphicon-user 
                        div.col-xs-3.col-sm-1.col-md-1
                            i.glyphicon.glyphicon-cog
                        div.col-xs-3.col-sm-1.col-md-1
                            a.toggle-panel-btn.glyphicon.glyphicon-collapse-up

                table.map-directions.table.table-striped.table-hover
                    tr
                        td(colspan="2") 
                            h4 Directions from Atrium 101 to Loyola 123
                    tr
                        td
                            i.glyphicon.glyphicon-arrow-up
                        td 
                            p 
                                strong Start at Atrium 101
                                p Move to somewhere else
                    tr
                        td
                            i.glyphicon.glyphicon-arrow-left
                        td 
                            p 
                                strong Start at Atrium 101
                                p Move to somewhere else
                    tr
                        td
                            i.glyphicon.glyphicon-arrow-right
                        td 
                            p 
                                strong Start at Atrium 101
                                p Move to somewhere else
                    tr
                        td
                            i.glyphicon.glyphicon-arrow-down
                        td 
                            p 
                                strong Start at Atrium 101
                                p Move to somewhere else
                        
block scripts
    script(src="/vendor/OSMBuildings-Leaflet.js")
    script(src="/js/controllers/graphController.js")
    script(src="/js/controllers/mapController.js")
    script(src="/js/views/map.js")
    script(src="/js/controllers/scheduleController.js")
