!!! 5
//-html(lang="en", manifest="/appcache")
html
	head
		title #{title}
		meta(name="viewport", content="width=device-width", initial-scale="1.0", maximum-scale="1.0", user-scalable="no") //- For Mobile

		include vendors

		link(rel='stylesheet', href='/css/style.css')
		block header

	body.hasNavigation
		//-include github_banner
		include navbar
	
	include modals/alert
	include modals/confirm
	
	block content
	
	//- For Account management and logging out	
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')

	block scripts
