!!! 5
//- html (lang="en", manifest="/appcache")
html
	head
		title #{title}
		meta(name="viewport", content="width=device-width", initial-scale="1.0", maximum-scale="1.0", user-scalable="no") //- For Mobile

		include vendors
		
		link(rel='stylesheet', href='/css/style.css')
		
		block header
	body
		//-include github_banner
	block content
	

	block scripts
