div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.container
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar 
            span.icon-bar 
          a.navbar-brand(href="#") SMU Mobile
        div.navbar-collapse.collapse
          form.navbar-form.navbar-right
            if udata && udata.name
              a.btn.btn-success Sign Out
            else
              div.form-group
                input(type="text", placeholder="Email").form-control
              div.form-group
                input(type="password", placeholder="Password").form-control
              button(type="submit").btn.btn-success Sign In
