extends layout

block header
    script(src="/bower_components/fullcalendar/fullcalendar.min.js")
    link(rel='stylesheet', href='/bower_components/fullcalendar/fullcalendar.css')
    link(rel='stylesheet', href='/bower_components/fullcalendar/fullcalendar.print.css')

block content
    div.full-container
        div#calendar

block scripts
    script(src="/js/controllers/graphController.js")
    script(src="/js/controllers/scheduleController.js")
