html, body
	height 100%

.tab-content, #editor, #editor .CodeMirror
	height 100%

.nav-tabs>li>a.control-btn:hover
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent; 
	border-color: #eee #eee #ddd;
	text-decoration: none;
	background-color: #eee;