
extends layout

block header
	link(rel='stylesheet', href='/css/signin.css')

block content
	div.container
		form(method="post")#login-form.form-signin
			h2.form-signin-heading Please sign in
			input.form-control(type="text", placeholder="Email Address", name="user", id='user-tf',required="", autofocus="")
			input.form-control(type="password", placeholder="Password", name="pass", id='pass-tf')			
			label.checkbox#remember-me Remember Me
				input(type="checkbox", checked='checked', value="remember-me")
			button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in
			
	include modals/alert
	include modals/lost-password

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')
