extends layout

block header
	include leaflet.jade

block content
	div.container(style="height:100%; width:100%;")
		div#map(style="width:100%; position: absolute; top:0px; bottom:0px;")

block scripts
	script(src="/js/controllers/mapController.js")