//- jQuery
script(src='/vendor/jquery.min.js')
script(src='/vendor/jquery.form.js')
//- Bootstrap
include bootstrap
//- Socket.io
script(src="/socket.io/socket.io.js")
script(src="/js/controllers/socketController.js")		
